*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    //This defines what 1rem is 62.5% = 10px
    font-size: 62.5%;
    scroll-behavior: smooth;

    @include respond(big-desktop){ //width > 1800px?
        font-size: 75%;
    }
    @include respond(tab-land){ //width < 1200px?
        font-size: 56.25%;
    }
    @include respond(tab-port){ //width < 900px?
        font-size: 50%;
    }
    
    
}

body {
    box-sizing: border-box;
    scrollbar-color: $color-primary-2;
    scrollbar-width: thin;
    overflow-x: hidden;
}

body::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
    width: 7px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: $color-primary-1;
}

::selection {
    background-color: $color-primary-1;
    color: $color-navy-1;
}